hs_err_pid*.log
pom.xml
pom.xml.asc
target/
dev-resources/public/main.js
dev-resources/public/main.out
gamedev-resources/dynadoc-extend/main.js
gamedev-resources/dynadoc-extend/main.out
.*
!.gitignore
