{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0" :scope "provided"}
        com.cerner/clara-rules {:mvn/version "0.19.0"}
        rum {:mvn/version "0.11.3"}
        http-kit {:mvn/version "2.2.0"}
        play-cljs {:mvn/version "1.2.0"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.439"}}}}}
