[TodoItem :text "Hello, world!"]
[NewTodo :text ""]
[EditTodo :text "" :record nil]

:select
[Event :data (= (:id %) :input), :options ?opts]
:insert
[NewTodo :text (-> ?opts :target .-value)]

:select
[Event :data (= (:id %) :add-btn), :timestamp ?event-time]
[?input <- NewTodo :timestamp (< % ?event-time)]
:insert
[TodoItem :text (:text ?input)]
[NewTodo :text ""]

:select
[?event <- Event :data (= (:id %) :rem-btn)]
:delete
(:record (:data ?event))

:select
[?event <- Event :data (= (:id %) :edit-btn)]
:insert
[EditTodo
 :text (:text (:record (:data ?event))),
 :record (:record (:data ?event))]

:select
[?event <- Event :data (= (:id %) :cancel-btn)]
:insert
[EditTodo :text "", :record nil]

:select
[?event <- Event :data (= (:id %) :edit), :options ?opts]
:insert
[EditTodo
 :text (-> ?opts :target .-value),
 :record (:record (:data ?event))]

:select
[?event <- Event :data (= (:id %) :save-btn), :timestamp ?event-time]
[?edit <- EditTodo :timestamp (< % ?event-time)]
:insert
[EditTodo :text "", :record nil]
:update
[(:record (:data ?event)) :text (:text ?edit)]

:select
[?items <<- TodoItem]
[?input <- NewTodo]
[?edit <- EditTodo]
:insert
[View
 :parent "#app"
 :value [:div
         [:input {:value (:text ?input)
                  :on-change {:id :input}}]
         [:button {:on-click {:id :add-btn}
                   :disabled (empty? (:text ?input))}
          "Add item"]
         (into [:ul]
           (for [item (sort-by :timestamp ?items)]
             [:li
              (if (= (:record ?edit) item)
                [:div
                 [:input {:value (:text ?edit)
                          :on-change {:id :edit
                                      :record item}}]
                 [:button {:on-click {:id :cancel-btn}}
                  "Cancel"]
                 [:button {:on-click {:id :save-btn
                                      :record item}}
                  "Save"]]
                [:div
                 (:text item)
                 [:button {:on-click {:id :edit-btn
                                      :record item}}
                  "Edit"]
                 [:button {:on-click {:id :rem-btn
                                      :record item}}
                  "Remove"]])]))]]

