[TodoItem :text "Hello, world!"]
[Def :id :input-value, :value ""]

:select
[Event (= (:id data) :input), :options ?opts]
:insert
[Def :id :input-value, :value (-> ?opts :target .-value)]

:select
[Event (= (:id data) :add-btn) :timestamp ?event-time]
[?input <- Def (< timestamp ?event-time) :id :input-value]
:insert
[TodoItem :text (:value ?input)]
[Def :id :input-value, :value ""]

:select
[?event <- Event (= (:id data) :rem-btn)]
:insert
[Delete :record (:record (:data ?event))]

:select
[?items <<- TodoItem]
[?input <- Def :id :input-value]
:insert
[View
 :parent "#app"
 :value [:div
         [:input {:value (:value ?input)
                  :on-change {:id :input}}]
         [:button {:on-click {:id :add-btn}}
          "Add item"]
         (into [:ul]
           (for [item ?items]
             [:li (:text item)
              [:button {:on-click {:id :rem-btn
                                   :record item}}
               "Remove item"]]))]]

